<!DOCTYPE html>
<html lang="en">
<head>
    <title>Atenea</title>
    <link rel="icon" href="img/favicon.ico"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="lib/style.css">
</head>

<body id="bg" style="background-image: url('img/background.jpg');">
        <div class="header">
            <div class="col-md-1" style="padding: 16px; text-align: center;">
                <a href="index.html" class="btn" role="button">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
                <a href="animalgames.html" class="btn" role="button">
                    <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
                </a>
            </div>
            <div>
                <h1>¿Quién hace este sonido?</h1>
            </div>
        </div>
        <div class="container">
            <table class="table table-responsive" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col" class="col-sm-3"></th>
                        <th scope="col" class="col-sm-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Vaca</td>
                        <td>
                            <a href="{% url 'animalGames' %}" class="btn" role="button">
                                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Conejo</td>
                        <td>
                            <a href="{% url 'animalGames' %}" class="btn" role="button">
                                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Cerdo</td>
                        <td>
                            <a href="{% url 'animalGames' %}" class="btn" role="button">
                                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Caballo</td>
                        <td>
                            <a href="{% url 'animalGames' %}" class="btn" role="button">
                                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Oveja</td>
                        <td>
                            <a href="{% url 'animalGames' %}" class="btn" role="button">
                                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Gallina</td>
                        <td>
                            <a href="{% url 'animalGames' %}" class="btn" role="button">
                                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Tortuga</td>
                        <td>
                            <a href="{% url 'animalGames' %}" class="btn" role="button">
                                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Pez</td>
                        <td>
                            <a href="{% url 'animalGames' %}" class="btn" role="button">
                                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Gato</td>
                        <td>
                            <a href="{% url 'animalGames' %}" class="btn" role="button">
                                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Pájaro</td>
                        <td>
                            <a href="{% url 'animalGames' %}" class="btn" role="button">
                                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Perro</td>
                        <td>
                            <a href="{% url 'animalGames' %}" class="btn" role="button">
                                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Ratón</td>
                        <td>
                            <a href="{% url 'animalGames' %}" class="btn" role="button">
                                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>